In [1]:
import pandas as pd
import gmaps
from config import api_key
# Import File (CSV)
latlon_df=pd.read_csv("../Resources/states_lat_lon.csv")

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)
latlon_df.head()

  states.csv Unnamed: 1   Unnamed: 2 Unnamed: 3
0        NaN        NaN          NaN        NaN
1      state   latitude    longitude       name
2         AK  63.588753  -154.493062     Alaska
3         AL  32.318231   -86.902298    Alabama
4         AR   35.20105   -91.831833   Arkansas

In [2]:
latlon_df1=latlon_df.drop([0,1])

In [3]:
latlon_df1

   states.csv Unnamed: 1   Unnamed: 2            Unnamed: 3
2          AK  63.588753  -154.493062                Alaska
3          AL  32.318231   -86.902298               Alabama
4          AR   35.20105   -91.831833              Arkansas
5          AZ  34.048928  -111.093731               Arizona
6          CA  36.778261  -119.417932            California
7          CO  39.550051  -105.782067              Colorado
8          CT  41.603221   -73.087749           Connecticut
9          DC  38.905985   -77.033418  District of Columbia
10         DE  38.910832    -75.52767              Delaware
11         FL  27.664827   -81.515754               Florida
12         GA  32.157435   -82.907123               Georgia
13         HI  19.898682  -155.665857                Hawaii
14         IA  41.878003   -93.097702                  Iowa
15         ID  44.068202  -114.742041                 Idaho
16         IL  40.633125   -89.398528              Illinois
17         IN  40.551217   -85.602364               Indiana
18         KS  39.011902   -98.484246                Kansas
19         KY  37.839333   -84.270018              Kentucky
20         LA  31.244823   -92.145024             Louisiana
21         MA  42.407211   -71.382437         Massachusetts
22         MD  39.045755   -76.641271              Maryland
23         ME  45.253783   -69.445469                 Maine
24         MI  44.314844   -85.602364              Michigan
25         MN  46.729553     -94.6859             Minnesota
26         MO  37.964253   -91.831833              Missouri
27         MS  32.354668   -89.398528           Mississippi
28         MT  46.879682  -110.362566               Montana
29         NC  35.759573     -79.0193        North Carolina
30         ND  47.551493  -101.002012          North Dakota
31         NE  41.492537   -99.901813              Nebraska
32         NH  43.193852   -71.572395         New Hampshire
33         NJ  40.058324   -74.405661            New Jersey
34         NM   34.97273  -105.032363            New Mexico
35         NV   38.80261  -116.419389                Nevada
36         NY  43.299428   -74.217933              New York
37         OH  40.417287   -82.907123                  Ohio
38         OK  35.007752   -97.092877              Oklahoma
39         OR  43.804133  -120.554201                Oregon
40         PA  41.203322   -77.194525          Pennsylvania
41         PR  18.220833   -66.590149           Puerto Rico
42         RI  41.580095   -71.477429          Rhode Island
43         SC  33.836081   -81.163725        South Carolina
44         SD  43.969515   -99.901813          South Dakota
45         TN  35.517491   -86.580447             Tennessee
46         TX  31.968599   -99.901813                 Texas
47         UT   39.32098  -111.093731                  Utah
48         VA  37.431573   -78.656894              Virginia
49         VT  44.558803   -72.577841               Vermont
50         WA  47.751074  -120.740139            Washington
51         WI   43.78444   -88.787868             Wisconsin
52         WV  38.597626   -80.454903         West Virginia
53         WY  43.075968  -107.290284               Wyoming

In [4]:
#latlon_df=latlon_df.set_index(['Unnamed: 3'])

In [5]:
latlon_df=latlon_df.rename(columns={'Unnamed: 1': 'Latitude','Unnamed: 2': 'Longitude','Unnamed: 3':'state'})

In [6]:
latlon_df=latlon_df[['Latitude','Longitude','state']]
latlon_df.head()

    Latitude    Longitude     state
0        NaN          NaN       NaN
1   latitude    longitude      name
2  63.588753  -154.493062    Alaska
3  32.318231   -86.902298   Alabama
4   35.20105   -91.831833  Arkansas

In [7]:
locations = latlon_df[["Latitude", "Longitude"]]

In [8]:
breweries_df=pd.read_csv('../Resources/breweries.csv')
breweries_df

,id,name,brewery_type,street,address_2,address_3,city,state,county_province,postal_code,website_url,phone,created_at,updated_at,country,longitude,latitude,tags
0,10-56-brewing-company-knox,10-56 Brewing Company,micro,400 Brown Cir,NaN,NaN,Knox,Indiana,NaN,46534,NaN,6308165790,2018-07-24 01:33:21,2018-08-24 00:32:25,United States,-86.627954,41.289715,NaN
1,10-barrel-brewing-co-bend,10 Barrel Brewing Co,large,62970 18th St,NaN,NaN,Bend,Oregon,NaN,97701-9847,http://www.10barrel.com,5415851007,2018-07-24 01:34:04,2018-08-11 21:39:09,United States,NaN,NaN,NaN
2,10-barrel-brewing-co-bend-2,10 Barrel Brewing Co,large,1135 NW Galveston Ave Ste B,NaN,NaN,Bend,Oregon,NaN,97703-2465,NaN,5415851007,2018-07-24 01:34:04,2018-08-11 21:39:09,United States,NaN,NaN,NaN
3,10-barrel-brewing-co-bend-pub-bend,10 Barrel Brewing Co - Bend Pub,large,62950 NE 18th St,NaN,NaN,Bend,Oregon,NaN,97701,NaN,5415851007,2018-07-24 01:34:04,2018-08-24 15:45:44,United States,-121.280954,44.091211,NaN
4,10-barrel-brewing-co-boise-boise,10 Barrel Brewing Co - Boise,large,826 W Bannock St,NaN,NaN,Boise,Idaho,NaN,83702-5857,http://www.10barrel.com,2083445870,2018-07-24 01:33:17,2020-10-11 17:00:13,United States,-116.202929,43.618516,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7792,zuni-street-brewing-company-denver,Zuni Street Brewing Company,micro,2355 W 29th Ave,NaN,NaN,Denver,Colorado,NaN,80211-3753,http://www.zunistreetbrewing.com,3038626525,2018-07-24 01:33:09,2018-08-24 00:25:18,United States,-105.015409,39.758593,NaN
7793,zwanzigz-brewing-columbus,ZwanzigZ Brewing,brewpub,1038 Lafayette Ave,NaN,NaN,Columbus,Indiana,NaN,47201-5756,http://www.zwanzigz.com,8123760200,2018-07-24 01:33:23,2018-08-24 00:33:42,United States,-85.918836,39.208657,NaN
7794,zwei-brewing-co-fort-collins,Zwei Brewing Co,micro,4612 S Mason St Ste 120,NaN,NaN,Fort Collins,Colorado,NaN,80525-3794,http://www.zweibruderbrewing.com,9702232482,2018-07-24 01:33:09,2018-08-11 21:36:45,United States,NaN,NaN,NaN
7795,zydeco-brew-werks-tampa,Zydeco Brew Werks,brewpub,1902 E 7th Ave,NaN,NaN,Tampa,Florida,NaN,33605-3810,NaN,8132524541,2018-07-24 01:33:15,2018-08-24 00:28:55,United States,-82.437832,27.960344,NaN
7796,zymurgy-brew-works-torrance,Zymurgy Brew Works,micro,22755 Hawthorne Blvd,NaN,NaN,Torrance,California,NaN,90505-3613,http://www.zymurgybrewworks.com,3106502474,2018-07-24 01:33:03,2018-08-24 00:05:10,United States,-118.352467,33.863537,NaN

In [9]:
breweries_df=breweries_df['state']

In [10]:
brewery_count=breweries_df.value_counts()
brewery_count.dtypes

dtype('int64')

In [11]:
merged_set=pd.merge(latlon_df,breweries_df,on='state')
merged_set.dropna()

       Latitude    Longitude    state
10    63.588753  -154.493062   Alaska
11    63.588753  -154.493062   Alaska
12    63.588753  -154.493062   Alaska
13    63.588753  -154.493062   Alaska
14    63.588753  -154.493062   Alaska
...         ...          ...      ...
7791  43.075968  -107.290284  Wyoming
7792  43.075968  -107.290284  Wyoming
7793  43.075968  -107.290284  Wyoming
7794  43.075968  -107.290284  Wyoming
7795  43.075968  -107.290284  Wyoming

[7786 rows x 3 columns]

In [20]:
state_count=merged_set['state'].value_counts()
#locations = merged_set[['Latitude','Longitude']]
#len(state_count)
#display(locations)
locations=locations.drop([0,1])
len(state_count)

KeyError: '[0 1] not found in axis'

In [31]:
display(locations)
locations=locations.drop[41]

     Latitude    Longitude
2   63.588753  -154.493062
3   32.318231   -86.902298
4    35.20105   -91.831833
5   34.048928  -111.093731
6   36.778261  -119.417932
7   39.550051  -105.782067
8   41.603221   -73.087749
9   38.905985   -77.033418
10  38.910832    -75.52767
11  27.664827   -81.515754
12  32.157435   -82.907123
13  19.898682  -155.665857
14  41.878003   -93.097702
15  44.068202  -114.742041
16  40.633125   -89.398528
17  40.551217   -85.602364
18  39.011902   -98.484246
19  37.839333   -84.270018
20  31.244823   -92.145024
21  42.407211   -71.382437
22  39.045755   -76.641271
23  45.253783   -69.445469
24  44.314844   -85.602364
25  46.729553     -94.6859
26  37.964253   -91.831833
27  32.354668   -89.398528
28  46.879682  -110.362566
29  35.759573     -79.0193
30  47.551493  -101.002012
31  41.492537   -99.901813
32  43.193852   -71.572395
33  40.058324   -74.405661
34   34.97273  -105.032363
35   38.80261  -116.419389
36  43.299428   -74.217933
37  40.417287   -82.907123
38  35.007752   -97.092877
39  43.804133  -120.554201
40  41.203322   -77.194525
42  41.580095   -71.477429
43  33.836081   -81.163725
44  43.969515   -99.901813
45  35.517491   -86.580447
46  31.968599   -99.901813
47   39.32098  -111.093731
48  37.431573   -78.656894
49  44.558803   -72.577841
50  47.751074  -120.740139
51   43.78444   -88.787868
52  38.597626   -80.454903
53  43.075968  -107.290284

TypeError: 'method' object is not subscriptable

In [48]:
# state_count=state_count #.astype(float)
# state_count=state_count.reset_index()
# variable = state_count['state']
# variable
count=state_count['state']
count

0     896.0
1     429.0
2     422.0
3     415.0
4     375.0
5     343.0
6     343.0
7     312.0
8     307.0
9     303.0
10    291.0
11    254.0
12    249.0
13    217.0
14    182.0
15    163.0
16    162.0
17    141.0
18    124.0
19    115.0
20    114.0
21    109.0
22    108.0
23     99.0
24     92.0
25     92.0
26     87.0
27     83.0
28     76.0
29     72.0
30     64.0
31     59.0
32     58.0
33     53.0
34     51.0
35     51.0
36     47.0
37     45.0
38     45.0
39     44.0
40     43.0
41     41.0
42     32.0
43     30.0
44     28.0
45     26.0
46     23.0
47     23.0
48     16.0
49     16.0
50     16.0
Name: state, dtype: float64

In [50]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=count, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

TypeError: unsupported operand type(s) for -: 'str' and 'str'