In [ ]:
#Notes:
    #One Barrel of beer is euqal to 31 gallons

In [2]:
#Import Necessary Dependencies 
import pandas as pd
import os

In [3]:
#File Paths
brewery_path=os.path.join('..','Resources','brewery_count.csv')
beer_pub_path=os.path.join('..','Resources','taxable_barrels_pubs_breweries.csv')
beer_can_path=os.path.join('..','Resources','taxable_barrels_bottles_cans.csv')
beer_keg_path=os.path.join('..','Resources','taxable_barrels_barrels_kegs.csv')

#Data Frames
brewery_0_df=pd.read_csv(brewery_path)
beer_pub_0_df=pd.read_csv(beer_pub_path)
beer_can_0_df=pd.read_csv(beer_can_path)
beer_keg_0_df=pd.read_csv(beer_keg_path)

In [34]:
#Include only data from 2008 to 2019 due to data constraints
# brewery_0_df
# beer_pub_0_df
beer_can_0_df
# beer_keg_0_df

,State,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,AK,"81,218.75","89,762.16","80,889.21","94,781.57","105,416.32","112,008.59","129,181.74","126,309.22","115,823.75","109,652.22","100,038.94","92,235.04"
1,AL,NaN,NaN,NaN,658.96,"2,485.79","6,634.43","9,521.26","10,543.00","9,977.46","11,797.80","14,241.33","15,337.81"
2,AR,"1,206.73","1,269.26","1,445.82","1,382.06",8.00,8.00,800.09,872.11,"1,737.10","8,723.15","1,668.50","10,033.89"
3,AZ,"6,980.87","7,383.27","10,380.26","14,057.56","18,411.25","22,318.65","29,645.05","44,032.85","59,031.78","66,483.94","56,861.38","213,919.27"
4,CA,"20,082,718.48","19,452,836.45","19,095,643.27","18,204,514.85","18,940,276.02","17,838,853.36","18,052,809.23","17,701,780.59","17,569,308.63","16,705,423.60","16,122,748.84","15,495,820.40"
5,CO,"24,182,900.40","21,095,113.55","18,742,266.67","18,820,319.55","19,267,902.29","18,549,122.13","18,035,909.80","17,755,216.77","18,105,206.85","17,964,522.31","16,457,400.82","17,351,292.18"
6,CT,"1,985.86","3,152.59","4,822.66","5,578.56","6,372.31","21,549.90","50,874.70","80,241.60","85,586.12","123,130.64","117,099.40","113,684.60"
7,DC,732.36,629.61,184.80,332.23,"1,727.77","3,546.13","4,265.73","9,222.28","9,485.89","10,449.74","11,505.98","7,808.04"
8,DE,"57,376.89","73,743.37","89,753.27","109,745.27","129,493.68","148,156.85","167,806.22","176,483.90","174,130.96","214,555.74","217,018.27","224,084.01"
9,FL,"8,301,524.51","9,028,726.18","9,232,548.52","9,380,672.31","9,738,023.02","9,521,482.11","9,439,058.04","9,842,764.82","10,028,963.53","9,755,349.98","9,944,711.04","9,013,013.49"
10,GA,"14,460,115.55","15,110,122.41","14,321,565.18","14,700,163.67","15,000,803.63","14,681,673.20","13,929,282.27","12,869,372.66","13,468,949.41","13,440,658.34","13,665,906.76","12,855,949.27"
11,HI,"3,244.23","5,154.78","7,518.77","12,683.85","13,350.64","13,208.44","13,039.35","17,643.83","24,101.03","30,194.62","34,458.29","35,265.45"
12,IA,"1,951.71","2,714.54","3,817.78","4,178.10","4,309.38","5,519.98","8,090.96","6,886.79","4,303.13","5,108.17","10,200.98","29,810.82"
13,ID,"4,710.76","4,765.33","6,143.50","6,407.47","9,112.66","11,093.10","14,718.98","15,257.78","15,422.23","16,421.24","14,567.03","16,303.95"
14,IL,"735,775.96","920,737.45","935,134.49","911,312.40","786,867.40","944,038.45","946,826.09","1,177,503.56","1,281,395.63","1,127,874.13","1,209,497.06","1,225,146.67"
15,IN,"7,626.27","9,704.30","13,724.96","19,393.24","32,664.02","37,750.09","48,204.65","55,466.71","67,624.00","72,637.37","68,032.19","61,722.24"
16,KS,749.00,"1,869.36","4,887.37","9,179.79","9,537.42","11,226.90","15,852.43","19,051.11","17,069.96","16,123.88","6,626.39","6,917.34"
17,KY,"76,976.90","76,927.25","68,413.44","58,747.18","70,540.28","78,440.18","86,161.38","99,595.65","97,413.84","115,167.63","129,683.59","144,579.27"
18,LA,"53,303.39","58,728.33","71,390.80","81,163.65","98,359.97","101,715.41","109,386.36","109,962.30","104,479.26","102,647.73","97,625.45","83,159.92"
19,MA,"51,229.45","64,333.05","72,352.47","91,092.86","107,665.45","127,282.86","133,223.43","140,674.77","168,617.48","232,429.02","233,473.01","228,565.35"
20,MD,"47,959.13","48,841.34","63,027.57","74,120.55","75,360.92","89,731.45","104,085.75","113,778.85","110,105.25","109,556.20","221,125.22","302,088.70"
21,ME,"76,817.87","74,021.63","88,631.90","114,906.50","124,123.97","122,877.92","132,025.53","136,646.89","136,065.27","126,135.75","83,500.42","73,118.94"
22,MI,"83,937.28","95,754.44","129,159.89","198,151.04","284,832.91","272,746.16","419,973.01","542,697.93","630,694.91","781,680.17","902,093.81","948,026.03"
23,MN,"223,517.81","221,315.48","212,445.88","259,668.58","232,657.19","253,317.42","285,724.01","314,887.35","305,430.57","331,456.26","442,264.60","1,393,791.89"
24,MO,"14,124,480.48","13,429,771.56","12,455,434.53","12,278,066.32","12,808,818.03","12,586,027.39","12,366,680.51","12,493,739.84","12,567,319.73","12,110,143.63","11,927,936.41","11,393,001.56"
25,MS,"1,952.64","3,521.57","5,188.87","6,646.41","8,051.63","10,044.08","13,409.98","11,793.55","8,237.78","6,798.97","6,788.76","6,174.98"
26,MT,"32,902.39","36,322.98","42,673.97","50,457.49","53,243.54","56,224.96","64,538.30","71,159.76","65,207.68","67,927.38","63,609.62","60,992.74"
27,NC,"6,717,728.97","7,129,633.14","6,943,748.84","6,600,785.11","6,735,801.22","6,515,751.81","6,311,112.23","6,341,549.69","3,389,539.45","880,391.57","935,057.28","982,104.25"
28,ND,NaN,NaN,NaN,NaN,NaN,133.11,"1,363.95","1,891.37",771.99,"1,480.51",241.84,36.88
29,NE,"1,792.16","2,575.65","4,950.25","5,885.50","6,780.45","2,073.18","12,738.17","10,792.33","13,944.91","13,914.72","13,114.23","13,354.17"
30,NH,"2,786,576.49","2,817,627.46","2,885,016.06","2,734,941.12","2,927,305.84","2,854,790.85","2,745,595.26","2,856,383.87","2,837,839.95","2,746,031.96","2,579,021.31","2,276,766.48"
31,NJ,"6,600,357.44","6,522,536.49","6,920,666.14","5,908,969.19","4,572,952.86","4,264,380.69","4,316,395.59","3,221,454.37","2,660,433.24","2,439,250.35","2,770,939.78","2,507,478.59"
32,NM,"4,447.60","6,387.49","9,364.70","14,169.83","17,164.28","18,327.17","26,140.30","30,487.22","29,126.65","38,350.28","48,212.94","55,513.97"
33,NV,234.05,700.47,939.85,"1,790.02","3,647.33","4,561.27","6,322.08","6,091.00","6,477.36","8,418.87","12,241.81","17,351.27"
34,NY,"6,997,372.81","6,307,846.95","6,376,824.80","5,779,655.18","6,832,275.59","7,166,945.25","6,749,799.40","7,218,516.11","7,555,530.53","7,507,875.58","7,428,652.03","7,720,584.90"
35,OH,"18,015,059.22","17,920,640.25","18,272,288.93","18,312,552.08","17,318,045.77","16,646,929.63","17,044,931.31","18,060,472.31","18,130,886.35","17,733,218.04","16,201,555.30","16,176,334.47"
36,OK,"1,186.99","2,284.47","2,937.63","3,593.60","3,706.66","3,141.24","5,620.53","6,990.95","8,597.36","8,032.06",183.59,589.29
37,OR,"524,814.27","581,456.86","659,065.27","772,698.31","848,065.57","937,521.77","1,036,589.35","1,089,613.20","1,124,515.37","1,019,538.32","990,592.29","970,083.59"
38,PA,"2,238,872.56","2,262,763.16","2,685,440.45","3,128,166.80","3,411,033.49","4,005,887.40","4,246,712.36","4,140,992.46","3,853,670.66","3,637,399.93","4,126,266.57","5,175,879.25"
39,RI,78.00,76.00,"1,613.00","1,692.00","2,021.32","4,181.58","4,949.18","5,592.76","6,646.02","16,985.26","32,268.25","42,190.46"
40,SC,"3,475.55","4,733.84","6,346.93","10,771.16","12,903.66","17,725.52","21,211.65","24,319.79","20,753.29","20,894.82","19,482.87","17,600.06"
41,SD,NaN,NaN,97.60,424.14,619.70,785.06,823.65,"1,028.03",935.83,"1,132.85",877.45,935.45
42,TN,292.08,98.75,112.10,"1,051.89","380,277.00","560,336.92","696,681.85","1,073,651.26","1,116,453.27","1,307,141.77","1,750,984.80","2,641,268.05"
43,TX,"18,671,765.96","19,020,183.48","18,985,409.81","18,934,858.19","17,941,441.31","18,373,013.26","18,841,742.38","18,151,237.17","18,582,286.52","18,110,667.95","16,987,670.45","16,934,638.35"
44,UT,"22,701.49","22,586.94","28,681.77","40,477.43","62,120.44","80,300.79","101,610.11","117,512.50","124,719.01","126,456.78","110,817.78","91,927.41"
45,VA,"14,083,265.00","13,471,382.64","12,809,681.79","12,531,661.75","13,408,374.35","12,891,463.92","12,259,344.53","11,190,928.41","11,211,279.68","12,678,626.95","12,333,484.10","12,829,543.99"
46,VT,"219,875.42","217,101.35","248,184.49","289,840.71","273,965.87","271,560.29","258,101.46","264,417.40","220,195.37","208,884.06","187,172.15","178,160.04"
47,WA,"130,485.73","126,287.74","128,996.61","121,471.16","116,944.26","125,917.12","140,925.38","163,346.76","139,649.07","142,440.45","174,684.94","188,786.24"
48,WI,"7,202,790.46","9,095,536.35","10,240,080.70","9,002,320.57","8,884,190.43","9,038,409.69","9,100,215.78","9,090,297.72","9,142,816.33","9,189,949.38","9,225,292.71","8,353,029.28"
49,WV,"1,277.63",734.00,569.55,120.33,23.18,87.86,43.45,60.86,40.86,15.6,20.73,14.16
50,WY,"1,666.38","1,851.16","1,649.54","1,916.37","2,580.15","2,755.25","2,447.42","3,409.94","6,946.93","7,393.61","11,129.22","14,611.11"

In [10]:
#Create new brewery data frame, filtering the brewery count data to only 2008 to 2019 
#brewery_1_df

brewery_1_df=brewery_0_df[['STATE','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']]
brewery_1_df

,STATE,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,AK,16.0,18.0,20.0,23.0,25.0,25.0,28.0,35.0,36.0,45.0,51.0,59.0
1,AL,5.0,5.0,7.0,9.0,15.0,23.0,25.0,30.0,37.0,52.0,55.0,66.0
2,AR,4.0,5.0,5.0,7.0,13.0,18.0,23.0,29.0,34.0,44.0,53.0,58.0
3,AZ,33.0,34.0,37.0,45.0,55.0,59.0,77.0,91.0,110.0,130.0,146.0,157.0
4,CA,333.0,340.0,358.0,401.0,472.0,528.0,654.0,788.0,927.0,1106.0,1236.0,1370.0
5,CO,117.0,116.0,129.0,149.0,185.0,234.0,300.0,352.0,386.0,448.0,500.0,544.0
6,CT,21.0,19.0,21.0,20.0,24.0,39.0,50.0,59.0,76.0,103.0,124.0,149.0
7,DC,3.0,3.0,4.0,6.0,5.0,11.0,12.0,13.0,13.0,13.0,13.0,15.0
8,DE,9.0,11.0,11.0,12.0,13.0,13.0,15.0,21.0,25.0,33.0,38.0,43.0
9,FL,61.0,52.0,60.0,71.0,89.0,113.0,158.0,205.0,264.0,338.0,386.0,464.0
10,GA,20.0,22.0,26.0,25.0,31.0,37.0,48.0,54.0,69.0,102.0,121.0,158.0
11,HI,11.0,11.0,11.0,12.0,15.0,17.0,20.0,26.0,23.0,28.0,38.0,43.0
12,IA,21.0,28.0,27.0,35.0,46.0,54.0,60.0,71.0,94.0,115.0,125.0,137.0
13,ID,24.0,25.0,25.0,33.0,39.0,42.0,51.0,57.0,67.0,76.0,87.0,101.0
14,IL,51.0,60.0,62.0,68.0,95.0,123.0,164.0,210.0,244.0,291.0,338.0,372.0
15,IN,30.0,39.0,43.0,59.0,72.0,95.0,116.0,151.0,163.0,213.0,234.0,261.0
16,KS,17.0,17.0,17.0,21.0,21.0,25.0,27.0,37.0,47.0,53.0,64.0,78.0
17,KY,12.0,15.0,14.0,21.0,25.0,25.0,38.0,48.0,60.0,73.0,86.0,105.0
18,LA,10.0,11.0,12.0,12.0,12.0,15.0,17.0,25.0,34.0,43.0,47.0,60.0
19,MA,45.0,44.0,48.0,52.0,65.0,82.0,98.0,124.0,146.0,189.0,230.0,268.0
20,MD,24.0,26.0,24.0,26.0,40.0,43.0,55.0,73.0,88.0,116.0,141.0,159.0
21,ME,43.0,42.0,44.0,49.0,53.0,60.0,71.0,84.0,102.0,131.0,165.0,186.0
22,MI,96.0,104.0,111.0,131.0,160.0,195.0,256.0,316.0,379.0,452.0,510.0,577.0
23,MN,36.0,39.0,42.0,56.0,70.0,75.0,113.0,142.0,165.0,214.0,239.0,267.0
24,MO,38.0,47.0,51.0,55.0,60.0,63.0,77.0,90.0,116.0,145.0,168.0,192.0
25,MS,0.0,0.0,3.0,0.0,4.0,7.0,10.0,14.0,14.0,16.0,19.0,22.0
26,MT,31.0,31.0,31.0,35.0,41.0,49.0,62.0,74.0,79.0,98.0,108.0,121.0
27,NC,50.0,52.0,61.0,71.0,94.0,125.0,155.0,207.0,260.0,330.0,387.0,443.0
28,ND,3.0,3.0,3.0,3.0,7.0,8.0,10.0,11.0,15.0,22.0,26.0,29.0
29,NE,16.0,17.0,16.0,18.0,20.0,25.0,35.0,39.0,47.0,53.0,60.0,67.0
30,NH,16.0,17.0,19.0,21.0,25.0,35.0,46.0,63.0,73.0,88.0,106.0,125.0
31,NJ,20.0,22.0,24.0,31.0,29.0,37.0,49.0,71.0,96.0,123.0,146.0,175.0
32,NM,20.0,21.0,26.0,30.0,38.0,48.0,60.0,71.0,86.0,110.0,124.0,143.0
33,NV,17.0,18.0,20.0,20.0,23.0,26.0,34.0,39.0,44.0,46.0,50.0,65.0
34,NY,81.0,84.0,100.0,123.0,150.0,193.0,255.0,329.0,394.0,471.0,532.0,618.0
35,OH,66.0,66.0,75.0,81.0,99.0,114.0,151.0,187.0,236.0,324.0,377.0,437.0
36,OK,9.0,10.0,10.0,10.0,13.0,17.0,18.0,21.0,26.0,43.0,55.0,76.0
37,OR,108.0,108.0,120.0,148.0,180.0,220.0,244.0,281.0,304.0,347.0,386.0,406.0
38,PA,97.0,96.0,118.0,146.0,162.0,183.0,233.0,278.0,333.0,411.0,472.0,560.0
39,RI,5.0,5.0,5.0,6.0,9.0,12.0,14.0,15.0,17.0,27.0,33.0,40.0
40,SC,16.0,15.0,16.0,17.0,23.0,30.0,37.0,51.0,59.0,84.0,94.0,115.0
41,SD,7.0,7.0,8.0,9.0,12.0,12.0,15.0,19.0,21.0,28.0,35.0,45.0
42,TN,23.0,23.0,26.0,31.0,45.0,51.0,69.0,88.0,101.0,120.0,140.0,174.0
43,TX,47.0,47.0,59.0,84.0,107.0,128.0,170.0,220.0,266.0,333.0,387.0,466.0
44,UT,15.0,18.0,18.0,18.0,22.0,24.0,27.0,29.0,34.0,39.0,46.0,54.0
45,VA,43.0,42.0,44.0,54.0,67.0,85.0,117.0,155.0,209.0,287.0,328.0,383.0
46,VT,24.0,27.0,32.0,34.0,39.0,45.0,51.0,66.0,73.0,84.0,90.0,100.0
47,WA,121.0,138.0,157.0,188.0,230.0,266.0,314.0,383.0,424.0,499.0,540.0,600.0
48,WI,110.0,108.0,119.0,126.0,146.0,146.0,168.0,189.0,217.0,261.0,303.0,346.0
49,WV,6.0,8.0,8.0,8.0,8.0,9.0,13.0,17.0,24.0,27.0,32.0,34.0
50,WY,14.0,13.0,16.0,15.0,19.0,25.0,28.0,32.0,33.0,39.0,44.0,51.0

In [27]:
#Unpivot the tacable beer data frame containing data from 2008-2019, create as new data frame brewery_2_df, 
#then clean up column names and save as brewery_3_df
brewery_2_df=brewery_1_df.set_index('STATE').unstack().reset_index(name='Brewery Count')

column_names={'level_0':'Year',
              'STATE': 'State',
              'Brewery Count':'Brewery Count'}

brewery_2_rename_df=brewery_2_df.rename(columns=column_names)
brewery_3_df=brewery_2_rename_df[['State','Year','Brewery Count']]
brewery_3_df

    State  Year  Brewery Count
0      AK  2008           16.0
1      AL  2008            5.0
2      AR  2008            4.0
3      AZ  2008           33.0
4      CA  2008          333.0
..    ...   ...            ...
607    VT  2019          100.0
608    WA  2019          600.0
609    WI  2019          346.0
610    WV  2019           34.0
611    WY  2019           51.0

[612 rows x 3 columns]

In [28]:
#Unpivot the beer sold at pubs and breweries data frame, create as new data frame beer_pub_1_df, 
#clean up and organize columns as beer_pub_2_df

beer_pub_1_df=beer_pub_0_df.set_index('STATE').unstack().reset_index(name='Brewery and Pub Beer Sales (bbls)')
# beer_pub_1_df

column_names={'level_0':'Year',
              'STATE': 'State',
              'Brewery and Pub Beer Sales (bbls)':'Brewery and Pub Beer Sales (bbls)'}

beer_pub_1_rename_df=beer_pub_1_df.rename(columns=column_names)
beer_pub_2_df=beer_pub_1_rename_df[['State','Year','Brewery and Pub Beer Sales (bbls)']]
beer_pub_2_df

    State  Year Brewery and Pub Beer Sales (bbls)
0      AK  2008                          2,067.69
1      AL  2008                            723.53
2      AR  2008                          1,328.35
3      AZ  2008                         14,857.81
4      CA  2008                         61,172.74
..    ...   ...                               ...
607    VT  2019                         23,530.86
608    WA  2019                        144,277.95
609    WI  2019                         74,567.20
610    WV  2019                          8,301.94
611    WY  2019                         12,462.54

[612 rows x 3 columns]

In [39]:
#Unpivot the beer sold in cans or bottles data frame, create as new data frame beer_can_1_df, 
#clean up and organize columns as beer_can_2_df

beer_can_1_df=beer_can_0_df.set_index('State').unstack().reset_index(name='Can and Bottle Beer Sales (bbls)')
beer_can_1_df

column_names={'level_0':'Year',
              'State': 'State',
              'Can and Bottle Beer Sales (bbls)':'Can and Bottle Beer Sales (bbls)'}

beer_can_1_rename_df=beer_can_1_df.rename(columns=column_names)
beer_can_2_df=beer_can_1_rename_df[['State','Year','Can and Bottle Beer Sales (bbls)']]
beer_can_2_df

    State  Year Can and Bottle Beer Sales (bbls)
0      AK  2008                        81,218.75
1      AL  2008                              NaN
2      AR  2008                         1,206.73
3      AZ  2008                         6,980.87
4      CA  2008                    20,082,718.48
..    ...   ...                              ...
607    VT  2019                       178,160.04
608    WA  2019                       188,786.24
609    WI  2019                     8,353,029.28
610    WV  2019                            14.16
611    WY  2019                        14,611.11

[612 rows x 3 columns]

In [42]:
# beer_keg_0_df

#Unpivot the beer sold in kegs and barrels data frame, create as new data frame beer_keg_1_df, 
#clean up and organize columns as beer_keg_2_df

beer_keg_1_df=beer_keg_0_df.set_index('State').unstack().reset_index(name='Can and Bottle Beer Sales (bbls)')
beer_keg_1_df

column_names={'level_0':'Year',
              'State': 'State',
              'Can and Bottle Beer Sales (bbls)':'Can and Bottle Beer Sales (bbls)'}

beer_keg_1_rename_df=beer_keg_1_df.rename(columns=column_names)
beer_keg_2_df=beer_keg_1_rename_df[['State','Year','Can and Bottle Beer Sales (bbls)']]
beer_keg_2_df

    State  Year Can and Bottle Beer Sales (bbls)
0      AK  2008                        50,920.35
1      AL  2008                           157.33
2      AR  2008                           882.83
3      AZ  2008                        18,635.98
4      CA  2008                     2,005,517.01
..    ...   ...                              ...
607    VT  2019                        69,498.80
608    WA  2019                       208,289.99
609    WI  2019                       799,948.20
610    WV  2019                         4,017.18
611    WY  2019                        18,726.19

[612 rows x 3 columns]

In [ ]:
# Merge all data frames together into one large data frame

#Analyze Total Breweries over time for the entire US

#Analyze total beer sales over time from pubs/breweries, cans/bottles and kegs/barrels